{% extends 'base.html' %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'reviews/style_reviews.css' %}">
{% endblock %}
{% block content %}
    <h2>Suivre d'autres utilisateurs</h2>
    <div class="to_follow">
        <form method="post" class="follow_form">
            <div> {{ subscribe_form }}</div>
            {% csrf_token %}
            <div><button type="submit" class="submit_button subscribe_button ">Envoyer</button></div>
        </form>
    </div>
    <p>{{ message }}</p>
    <h2>Abonnements</h2>
            {% for user in followed_users %}
            <div class="followed_user">
                <div class="followed_user_name">{{ user.followed_user.username }}</div>
                <div class="followed_user_button">
                    <form method="post">
                        <input name="unsubscribe" type="hidden" value="{{ user.followed_user.username }}">
                        {% csrf_token %}
                        <button type="submit" name='{{ user.followed_user.username }}' class="submit_button unsubscribe_button">Désabonner</button>
                    </form>
                </div>
            </div>
            {% endfor %}
    <h2>Abonnés</h2>
        {% for user in followers %}
            <div class="follower_user_name">{{ user.user.username }}</div>
        {% endfor %}

{% endblock content %}