{% extends 'base.html' %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'reviews/style_reviews.css' %}">
{% endblock %}
{% block content %}
    <h2>Modifier votre ticket</h2>
         <div class="creation_block">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <p class="titre">Titre</p>
                <p class="ticket">{{ edit_form.title }}</p>
                <p class="titre">Description</p>
                <p class="ticket">{{ edit_form.description }}</p>
                <p class="titre">Image</p>
                {% if ticket.image != '' %}
                <div class="img_ticket">
                    <img src="../images/{{ ticket.image }}" class="img"></img>
                </div>
                {% endif %}
                <p class="ticket">{{ edit_form.image }}</p>
                <input name="edit_ticket" type="hidden">
                <a href="{% url 'posts' %}" class="button back">Retourner</a><button type="submit" class="submit_button ticket_button">Modifier</button>
            </form>
        </div>
{% endblock content %}