{% extends 'base.html' %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'reviews/style_reviews.css' %}">
{% endblock %}
{% block content %}
    <h2>Vos posts</h2>
        </div>
        <p>{{ message }}</p>
        {% for ticket in tickets %}
    <div class="tickets">
        {% if ticket.user == request.user %}
        <p>Vous avez demandé une critique</p>
        {% else %}
        <p>{{ ticket.user.username }} a demandé une critique</p>
        {% endif %}
        <p>{{ ticket.title }}</p>
        <p>{{ ticket.description }}</p>
        {% if ticket.image != '' %}
        <div class="img_ticket">
            <img src="../images/{{ ticket.image }}" class="img"</img>
        </div>
        {% endif %}
    </div>
        {% endfor %}
{% endblock content %}