{% extends 'base.html' %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'authentication/style_auth.css' %}">
{% endblock %}
{% block content %}
    <div class="form password">
            <form method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <a href="{% url 'home' %}" class="button back">Retourner</a><button type="submit" class="submit_button side_button">Changer</button>
            </form>
        </div>
{% endblock content %}